<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="25172murati.hu.MagyarElektronikusKonyvtar" Publisher="CN=1097614C-AFA1-44BC-AF94-BB64863F7A73" Version="1.1.6.0" />
  <mp:PhoneIdentity PhoneProductId="26858404-aa56-4a52-ad11-4dc7ef7eceb2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Magyar Elektronikus Konyvtar</DisplayName>
    <PublisherDisplayName>murati.hu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EKonyvtarUW.App">
      <uap:VisualElements DisplayName="Magyar Elektornikus Könyvtár" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="A Magyar Elektornikus Könyvtár az Országos Széchenyi Könyvtár (OSzK MEK) nem hivatalos böngésző és olvasó alkalmazása." BackgroundColor="#2990CC">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="E-Könyvtár" Square310x310Logo="Assets\Square620x620Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2990CC" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>